@page "/inventory"

<div class="d-flex justify-content-center pb-5">
    <h1 class="fw-bold">Inventory</h1>
</div>

<div class="d-flex justify-content-between">
    <div class="m-x-0">
        <NavLink class="btn btn-primary btn-lg" href="addItem">Add Item</NavLink>
    </div>
    <div class="m-x-0">
        <NavLink class="btn btn-secondary btn-lg" href="viewInv">View Inventory</NavLink>
    </div>
    <div class="m-x-0">
        <NavLink class="btn btn-third btn-lg" href="removeItem">Remove Item</NavLink>
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
