@page "/inventory"
@inject NavigationManager NavManager

<div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-info" @onclick="GoBack">← Back</button>

    <h1 class="fw-bold text-center flex-grow-1 m-0">Inventory</h1>

    <div style="width: 100px;"></div>
</div>

<div class="d-flex justify-content-around">
    <div class="mx-2" style="width: 200px;">
        <NavLink class="btn btn-primary btn-lg w-100" href="addItem">Add Item</NavLink>
    </div>
    <div class="mx-2" style="width: 200px;">
        <NavLink class="btn btn-secondary btn-lg w-100" href="viewInv">View Inventory</NavLink>
    </div>
</div>

@code{
    private void GoBack() //for back button
    {
        NavManager.NavigateTo("/");
    }
}