@page "/viewInv"

<h3>Inventory</h3>

<div class="grid-container">
    @if(items.Count <= 1)
    {
        <div class="card">
            <div class="card-image">
                @if (!string.IsNullOrEmpty(items[0].ImageBase64))
                {
                    <img src="data:image/png;base64,@items[0].ImageBase64" alt="Preview" />
                }
            </div>
            <div class="card-label">@items[0].Title</div>
        </div>
    }
    else
    {
        @foreach (ItemModel item in items)
        {
            <div class="card">
                <div class="card-image">
                    @if (!string.IsNullOrEmpty(item.ImageBase64))
                    {
                        <img src="data:image/png;base64,@item.ImageBase64" alt="Preview" />
                    }
                </div>
                <div class="card-label">@item.Title</div>
            </div>
        }
    }
</div>

@code{

    List<ItemModel> items = ItemModelManager.GetItems();


}

