@page "/viewInv"

<h3>Inventory</h3>

<div class="d-flex">
    <div class="d-flex justify-content-evenly">
        <div class="image-pick">
            <div class="image-border"></div>
            <p class="text-center">Equipment Preview</p>
        </div>
        <div class="image-pick">
            <div class="image-border"></div>
            <p>Equipment Preview</p>
        </div>
        <div class="image-pick">
            <div class="image-border"></div>
            <p>Equipment Preview</p>
        </div>
        <div class="image-pick">
            <div class="image-border"></div>
            <p>Equipment Preview</p>
        </div>
    </div>
</div>

@code {
    private ItemModel itemModel;
    private ItemModelManager itemManager = new ItemModelManager();


}

