@page "/"

<div class="d-flex justify-content-center">
    <h1 class="fw-bold">Home</h1>
</div>
<div class="d-flex justify-content-center pb-5">
    <h4>How may we assist you today?</h4> 
</div>

<div class="d-flex justify-content-between">
    <div class="m-x-0 c">
        <NavLink class="btn btn-lg btn" href="rent">Rent</NavLink>
    </div>
        <div class="m-x-0">
        <NavLink class="btn btn-lg" href="inventory">Inventory</NavLink>
    </div>
        <div class="m-x-0">
        <NavLink class="btn btn-lg" href="customer">Customer</NavLink>
    </div>
</div>
