@page "/customerMain"
@using Renting.Models

<div class="d-flex justify-content-center pb-5">
    <h1 class="fw-bold">Customer</h1>
</div>

<div class="border rounded bg-light p-4 shadow-sm">
    <div class="d-flex justify-content-around">
        <div class="mx-2" style="width: 200px;">
            <NavLink class="btn btn-primary btn-lg w-100" href="/addCustomer">Add Customer</NavLink>
        </div>
        <div class="mx-2" style="width: 200px;">
            <NavLink class="btn btn-secondary btn-lg w-100" href="/customerList">View Customers</NavLink>
        </div>
    </div>
</div>